.center-stuffs {
  display: grid;
  gap: var(--gap);
  width: var(--max-width);
  margin: auto;

  &__toggle {
    display: grid;
    justify-content: center;
  }

  &__container {
    border: var(--border-contrast);
    border-radius: var(--border-radius);
    height: 50vh;
    &__bee {
      width: 12.5rem;
      height: 12.5rem;
    }
  }
}
