.testimonials-responsive {
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(0, 1fr);

  &__toggle {
    display: grid;
    justify-content: center;
  }

  &__list {
    display: grid;
    gap: var(--gap);
    grid-template-columns: minmax(0, 1fr);
  }
}
