.header {
  &__button {
    position: absolute;
    top: var(--gap);
    left: var(--gap);
  }
  display: grid;
  left: 0;
  right: 0;

  margin-block-start: 2rem;

  &__title {
    font-size: 2rem;
    text-align: center;
  }
}
