.home {
  display: grid;
  gap: var(--gap);
  &__title {
    font-size: 2rem;
    color: var(--clr-contrast);
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      bottom: -1rem;
      transition-delay: 1s;
      transform: translateX(25%);
      content: "";
      width: 100%;
      border: 2px solid;
      animation: slide;
    }
  }

  &__content {
    padding: 10rem;
    display: grid;
    place-items: center;
    &__illustration {
      transition: filter 2s;
      &:hover {
        filter: drop-shadow(2.5rem 0.75rem 2rem var(--clr-primary-500));
      }
    }
  }

  @keyframes slide {
    from {
      transform-origin: right;
      transform: translateX(0) scaleX(0.1);
      transition-timing-function: ease-out;
    }
    to {
      transform: translateX(25%) scaleX(1);
      // border: 10px solid red;
    }
  }
}
