.sizing-block {
  display: grid;
  gap: 2rem;
  justify-items: center;

  &__header {
    margin-block: 2rem;

    &__title {
      font-size: 3rem;
      font-weight: bold;
      word-spacing: 1.5;
    }
  }

  &__container {
    width: max(50rem);
    display: grid;
    border: 1rem solid var(--clr-contrast);
    border-radius: 1rem;
    padding: 1rem;
  }
}
