.container {
  display: grid;
  gap: 1rem;
  // border: 1rem solid var(--clr-contrast);

  // grid-template-columns: 200px 200px;
  // grid-template-columns: 25% 25% 25% 25%;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 200px 200px 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 12.5rem repeat(3, 1fr) 1.25rem;
  grid-template-columns: auto repeat(3, 1fr);
}
