.align-center__container {
  &.done {
    // 👉 Working with each item itself
    // justify-items: center;
    // justify-items: start;
    // grid-template-rows: repeat(5, 200px);
    // align-items: start;

    // place-items: center;

    // 👉 Working with content this time
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 200px);

    justify-content: center;
    justify-content: end;

    // 👉 Working with self
    li:nth-of-type(5) {
      outline: 2px solid var(--clr-contrast);
      justify-self: end;
      align-self: end;
    }
  }
}
