.testimonials {
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;

  &__toggle {
    display: grid;
    justify-content: center;
  }

  &__list {
    width: var(--max-width);
  }
}
