<section class="testimonials">
  <app-done-toggle
    class="testimonials__toggle"
    (toggleChange)="toggleChange()"
    id="toggle-label"
  >
    <h2 id="toggle-label">Voir le résultat</h2>
  </app-done-toggle>

  <app-step-layout [snippets]="snippets" [title]="title">
    <ul role="list" class="testimonials__list" [class.done]="isDone$ | async">
      <li *ngFor="let testimonial of TESTIMONIALS; let index = index">
        <app-card
          [testimonial]="testimonial"
          [className]="classArray[index]"
        ></app-card>
      </li>
    </ul>
  </app-step-layout>
</section>
