@use "~@angular/material" as mat;

@include mat.core();

$typography: mat.define-typography-config(
  $headline: mat.define-typography-level(24px, 32px, 400),
  $font-family: var(--ff-primary),
);

@include mat.core($typography);
