:root {
  --clr-primary-400: hsl(263 55% 52%);
  --clr-primary-500: hsl(263 55% 46%);
  --clr-secondary-400: hsl(217 19% 35%);
  --clr-secondary-500: hsl(217, 30%, 14%);
  --clr-secondary-500-25: hsla(217, 30%, 14%, 0.25);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(210 46% 95%);
  --clr-neutral-300: hsl(0 0% 81%);

  --clr-contrast: hsl(47, 100%, 50%);

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-500: 500;
  --fw-700: 700;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-700: 1.5rem;

  --margin: 1.25rem;
  --padding: 1rem;
  --border-radius: 0.5rem;
  --box-shadow: 2.5rem 3.75rem 3rem -3rem var(--clr-secondary-400);
  --border: 5px solid var(--clr-primary-500);

  --max-width: min(95%, 70rem);
  --gap: 2rem;
}
