<mat-toolbar class="navbar">
  <ng-content></ng-content>
  <!-- <a
    mat-icon-button
    color="primary"
    aria-label="Allez sur la page précédente"
    class="navbar__previous"
    [routerLink]="previousPageRoute"
  >
    <mat-icon aria-hidden="true">navigate_before</mat-icon>
  </a>
  <a
    mat-icon-button
    color="accent"
    aria-label="Example icon-button with a heart icon"
    class="navbar__next"
    [routerLink]="nextPageRoute"
    routerLinkActive="router-link-active"
  >
    <mat-icon aria-hidden="true">navigate_next</mat-icon>
  </a> -->
</mat-toolbar>
