.move-blocks {
  --margin: 1rem;
  display: grid;
  gap: 2rem;
  justify-items: center;
  &__container {
    width: max(50rem);
    border: 1rem solid var(--clr-contrast);
    border-radius: 1rem;
    padding: 1rem;
  }
}
