.done {
  display: grid;
  gap: 2rem;
  li {
    &:nth-of-type(3) {
      outline: 2px solid var(--clr-contrast);
      // grid-column: 2;
      // grid-column: 4;
      // grid-column: 1 / 4;
      grid-column: 1 / -1;

      grid-row: 4;
    }
  }
}
