.link-button {
  display: grid;
  place-content: center;
  background-color: var(--clr-primary-400);
  font-size: var(--fs-700);
  color: var(--clr-neutral-300);
  transition: all 0.3s;
  border: var(--border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  opacity: 0.9;
  height: 100%;

  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: var(--clr-neutral-100);
    transform: scale(1.02);
    opacity: 1;
  }
}
