<section role="region" class="testimonials">
  <header role="banner">
    <h1>Étape finale</h1>
  </header>
  <ul role="list" class="testimonials__list">
    <li *ngFor="let testimonial of TESTIMONIALS; let index = index">
      <app-card
        [testimonial]="testimonial"
        [className]="classArray[index]"
      ></app-card>
    </li>
  </ul>
</section>

<hr />
<h2>Code</h2>
<mat-tab-group animationDuration="300ms">
  <mat-tab *ngFor="let snippet of snippets" [label]="snippet.label">
    <pre [highlight]="snippet.code"></pre>
  </mat-tab>
</mat-tab-group>
