.center-stuffs {
  display: grid;
  gap: 1rem;
  justify-items: center;

  &__toggle {
  }

  &__container {
    border: 1rem solid var(--clr-contrast);
    border-radius: 1rem;
    width: 50vw;
    height: 50vh;
    &__bee {
      width: 12.5rem;
      height: 12.5rem;
    }
  }
}
