.steps {
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(0, 1fr);
  padding-inline: var(--padding);

  &__title {
    font-size: 2rem;
    color: var(--clr-contrast);
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      bottom: -1rem;
      transition-delay: 1s;
      transform: translateX(25%);
      content: "";
      width: 100%;
      border: 2px solid;
      animation: slide;
    }
  }

  @keyframes slide {
    from {
      transform-origin: right;
      transform: translateX(0) scaleX(0.1);
      transition-timing-function: ease-out;
    }
    to {
      transform: translateX(25%) scaleX(1);
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--clr-secondary-500-25);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    padding: var(--padding);
    &__link {
      justify-self: end;
      color: var(--clr-neutral-100);
      transition: transform 0.4s, color 0.4s ease-in-out;
      &:hover {
        color: var(--clr-contrast);
        transform: scale(1.02) translateX(-10%);
      }
    }
  }
}
