.steps {
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(0, 1fr);
  padding-inline: var(--padding);

  &__title {
    font-size: 2rem;
    color: var(--clr-contrast);
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      bottom: -1rem;
      transition-delay: 1s;
      transform: translateX(25%);
      content: "";
      width: 100%;
      border: 2px solid;
      animation: slide;
    }
  }

  @keyframes slide {
    from {
      transform-origin: right;
      transform: translateX(0) scaleX(0.1);
      transition-timing-function: ease-out;
    }
    to {
      transform: translateX(25%) scaleX(1);
      // border: 10px solid red;
    }
  }
}
