.steps {
  display: grid;
  gap: var(--gap);
  width: var(--max-width);
  margin: auto;

  &__header {
    margin-top: 2rem;
    &__title {
      font-size: 2rem;
    }
  }

  &__board {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 7rem;
    justify-content: center;
    align-content: center;
    padding: var(--padding);
  }
}
