<main>
  <section class="steps">
    <app-step-header class="steps__header">
      <h1 class="steps__title">{{ title }}</h1>
    </app-step-header>
    <router-outlet></router-outlet>
  </section>
</main>
<!-- <footer class="steps__footer">
  <a
    class="header__button"
    mat-mini-fab
    aria-label="Retour à la page avec toutes les étapes"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
  >
    <mat-icon>home</mat-icon>
  </a>
  <a
    [routerLink]="['/' + FeaturesRoutingEnum.Refs]"
    class="steps__footer__link"
  >
    Ressources | Tutos | Références</a
  >
</footer> -->
