/* You can add global styles to this file, and also import other style files */
@use "fonts";
@use "variables";
@use "theme";
@use "utilities";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/images/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3 {
  font-weight: var(--fw-500) !important;
  margin: 0 !important;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
