/* You can add global styles to this file, and also import other style files */
@use "fonts";
@use "variables";
@use "theme";
@use "utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--fw-700);
}
