/* You can add global styles to this file, and also import other style files */
@use "styles/variables";
@use "styles/theme";
@use "styles/utilities";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--fw-700);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
